.job-category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    .category-card {
        border-radius: 5px;
        background: linear-gradient(
            90deg,
            rgba(126, 144, 254, 0.05) 0%,
            rgba(152, 115, 255, 0.05) 100%
        );
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .job-category-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .job-category-list {
        grid-template-columns: 1fr;
    }
}
